
#topSection{
    text-align: center;
    background-color:cornflowerblue;
    color: white;
}

#divider{
    border-top: cornflowerblue;
    background-color: white;
}

#newColors{
    margin-left: 30%;
}

#easy{
    margin-left: 10%;
}

#hard{
    margin-left:0%;
}

#statusMessage{
    margin-left: 10%;
}

#bottom{
    color: white;
    text-align: center;
}

.row .col{
    padding: white;
}

#custom{
    padding: white;
}


body{
    background-color:rgb(30, 30,30);
}