#topSection{
    text-align: center;
    background-color:cornflowerblue;
    color: whitesmoke;
}

#divider{
    border-top: cornflowerblue;
    background-color: seashell;
}

#newColors{
    margin-left: 30%;
}

#easy{
    margin-left: 10%;
}

#hard{
    margin-left:0%;
}

#statusMessage{
    margin-left: 10%;
}

#bottom{
    background-color:rgb(30, 30,30);
}

body{
    background-color:rgb(30, 30,30);
}